
@-webkit-keyframes shine {
  from   {background-color: black; color: white;}    
  to {background-color: black; color: red;}
}
@-moz-keyframes shine {
  from   {background-color: black; color: white;}    
  to {background-color: black; color: red;}
}
@-o-keyframes shine {
  from   {background-color: black; color: white;}    
  to {background-color: black; color: red;}
}
@keyframes shine { 
  from   {background-color: black; color: white;}    
  to {background-color: black; color: red;}  
}

.shineAnimation {	
  	-webkit-animation: shine 0.6s;/* infinite; /* Safari 4+ */
  	-moz-animation:    shine 0.6s; /* Fx 5+ */
	-o-animation:      shine 0.6s; /* Opera 12+ */
	animation:         shine 0.6s ; /* IE 10+ */
	-webkit-animation-iteration-count: 3;
	-moz-animation-iteration-count: 3;
	-o-animation-iteration-count: 3;
	animation-iteration-count: 3;	
}

table {
	text-align: center;
	background-color: transparent;
}

tbody, thead, tr, th, td{
	background-color: transparent !important; 
}

tr, th, td{
	border: 1px solid #000 !important;
}

html {
	font-size: 5.9em;
	font-weight: bold;	
	background-color: #ffffff;
}

thead{
	display: none;
}

td {
	background-color: transparent !important;	
	color: black;
}

.ui-widget-content, .ui-state-default {
	color: black;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	/*width: 100%;*/
}

